body {
  background-color: #feffe674;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #002e2c;
}

h2 {
  color: #035e7b;
}

h3 {
  color: #30321c;
}

p {
  color: #30321c;
}

.title {
  color: #feffe6;
}

a {
  color: #388097;
}

a:hover {
  color: #035e7b;
}

button {
  background-color: #a2a77f;
  color: #eff1c5;
  border-radius: 7px;
}
button:hover {
  background-color: #cacfa8;
}
button:active {
  background-color: #80874f;
}

img {
  width: 100%;
}

/* the back button */
.back {
  height: 5vh;
  margin: 2%;
}

.next {
  height: 5vh;
  margin: 2%;
}

.navbar {
  display: flex;
  background-color: #002e2c;
  color: #feffe6;
  display: flex;
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 15%;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  /* position:relative; */
  align-items: center;
}

.first-nav {
  margin-right: 3%;
}

input#nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #002e2c;
  color: #feffe6;
  border-radius: 7px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #feffe6;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #feffe6;
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}
.nav-toggler span::after {
  top: 6px;
}

.title {
  margin: 2%;
  margin-left: 4%;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.second {
  background-color: #035e7b;
  color: #feffe6;
}
.first {
  background-color: #002e2c;
  color: #a9bfca;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #96acb7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #002e2c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a9bfca;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #96acb7;
  color: #002e2c;
}

#landing {
  background-color: #96acb77a;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 4%;
  margin-left: 4%;
  padding: 4%;
  padding-bottom: 3%;
}
.words {
  margin-right: 4%;
}

#second-nav {
  background-color: #035e7b;
  display: flex;
  height: 10%;
  top: 0px;
  left: 0px;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 4%;
  margin-left: 4%;
  justify-content: space-between;
}

#landing-img {
  width: 100%;
}

#mainInfo {
  display: flex;
}

#news {
  background-color: #96acb77a;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 4%;
  padding: 4%;
  padding-bottom: 3%;
}
#meetings {
  background-color: #96acb77a;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 4%;
  margin-left: 2%;
  padding: 4%;
  padding-bottom: 3%;
}

#pages {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#funthings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learn-more-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.learn-more {
  width: 20%;
  height: 5vh;
  font-size: medium;
}

#bottom-nav {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #a9bfca;
}

.extra-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.facebook-line {
  margin-left: 5%;
}

@media only screen and (max-width: 1060px) {
  .nav-toggler {
    display: flex;
  }
  #second-nav {
    visibility: hidden;
  }
  .navbar .first-nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #feffe6;
    border-top: 1px solid #002e2c;
    opacity: 0;
    visibility: hidden;
  }

  .nav-bar .first-nav .dropbtn {
    display: block;
    margin: 0;
  }

  .navbar #nav-check:checked ~ .first-nav {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .navbar #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .navbar #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .navbar #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  body {
    display: flex;
    background-color: #feffe674;
    /* color: rgb(27, 1, 84); */
    /* font-family: monospace; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #landing {
    display: flex;
    flex-direction: column;
  }

  #mainInfo {
    display: flex;
    flex-direction: column;
  }

  #news {
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
  }
  #meetings {
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
  }

  #funthings {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .learn-more-buttons {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
  }

  #bottom-nav {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #a9bfca;
  }
  .learn-more {
    font-size: x-small;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}
