/* These are the colors for the fonts and setting the font family for the page */

body {
  background-color: #feffe674;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #002e2c;
}

h2 {
  color: #035e7b;
}

h3 {
  color: #30321c;
}

p {
  color: #30321c;
}

/* Since h1 is used multiple times, and the title is the only h1 that has a dar background it needs to be reset */
.title {
  color: #feffe6;
  margin: 2%;
  margin-left: 4%;
}

a {
  color: #388097;
}

a:hover {
  color: #035e7b;
}

/* This is the basic styling for the buttons */
button {
  background-color: #a2a77f;
  color: #eff1c5;
  border-radius: 7px;
}
button:hover {
  background-color: #cacfa8;
}
button:active {
  background-color: #80874f;
}

/* Setting the image width to keep it from */
img {
  width: 100%;
}

/* These are for the 'back' and 'next' page buttons 
in the Upcoming meetings section -> just giving them better spacingg */
.back {
  height: 5vh;
  margin: 2%;
}
.next {
  height: 5vh;
  margin: 2%;
}


/* This is for the top of the page the navbar/header */
.header {
  display: flex;
  background-color: #002e2c;
  color: #feffe6;
  display: flex;
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 15%;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: center;
}

/*  This is specifically for the navigation items on the right for the first nav bar, trying to make sure they are aligned */
.first-nav {
  margin-right: 3%;
}

/* These next few are need so that when the screen is at a certain width the nav bar will collapse */
input#nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #002e2c;
  color: #feffe6;
  border-radius: 7px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
/* These create the three lines that appear at a certain width */
.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #feffe6;
  position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #feffe6;
  left: 0;
}
.nav-toggler span::before {
  top: -6px;
}
.nav-toggler span::after {
  top: 6px;
}

/* This is for the navbar items. It's technically a drop down button so that more menu items can be accessed */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* This changes the two navbars colors, so that they don't look the same */
.second {
  background-color: #035e7b;
  color: #feffe6;
}
.first {
  background-color: #002e2c;
  color: #a9bfca;
}

/* These next few styles are for the nav bar drop downs. Setting up colors and making sure that 
each item is in line */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #96acb7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #002e2c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a9bfca;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #96acb7;
  color: #002e2c;
}


/* this is the first part of the page, or the landing split into .words and landing-img. As the .words
is the second header and intro to the website. And the image is just an image  */
/* Landing creates a flexbox for the two divs, so that they can be arranged in a way that will allow for a responsive
design. */
#landing {
  background-color: #96acb77a;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 4%;
  margin-left: 4%;
  padding: 4%;
  padding-bottom: 3%;
}
.words {
  margin-right: 4%;
}

#landing-img {
  width: 100%;
}

#second-nav {
  background-color: #035e7b;
  display: flex;
  height: 10%;
  top: 0px;
  left: 0px;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 4%;
  margin-left: 4%;
  justify-content: space-between;
}

/* Similar to #landing this is the larger div created so that it's easier to have a responsive website  */
#mainInfo {
  display: flex;
}

/* This is a smaller subpart of mainInfo that stores all the announcements and news and formats them correctly */
#news {
  background-color: #96acb77a;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 4%;
  padding: 4%;
  padding-bottom: 3%;
}
/* This formats the other side of mainInfo */
#meetings {
  background-color: #96acb77a;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 4%;
  margin-left: 2%;
  padding: 4%;
  padding-bottom: 3%;
}
/* This is the subpart of #meetings that essentially makes teh layout nice.  */
#pages {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

/* Similar to #landing this is the larger div created so that it's easier to have a responsive website */
#funthings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learn-more-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.learn-more {
  width: 20%;
  height: 5vh;
  font-size: medium;
}

#bottom-nav {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #a9bfca;
}

.extra-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.facebook-line {
  margin-left: 5%;
}


/* This is for when the nav bars collapse. It happens at 1060px because after that the navBar starts wrapping which isn't the most
responsive */
@media only screen and (max-width: 1060px) {

  /* These toggle the nav bar on and off */
  .nav-toggler {
    display: flex;
  }
  #second-nav {
    visibility: hidden;
  }
  .header .first-nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #feffe6;
    border-top: 1px solid #002e2c;
    opacity: 0;
    visibility: hidden;
  }

  .header .first-nav .dropbtn {
    display: block;
    margin: 0;
  }

  .header #nav-check:checked ~ .first-nav {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .header #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  body {
    display: flex;
    background-color: #feffe674;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* this changes the layout of #landing so that all components are stacked on top of each other rather than side by side */
  #landing {
    display: flex;
    flex-direction: column;
  }
/* Does the same thing as #landing */
  #mainInfo {
    display: flex;
    flex-direction: column;
  }

  /* These two really fix up the spacing issues that happened with changing mainInfo */
  #news {
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
  }
  #meetings {
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
  }

  #funthings {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .learn-more-buttons {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
  }

  #bottom-nav {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #a9bfca;
  }
  .learn-more {
    font-size: x-small;
  }
}
@media only screen and (max-width: 600px) {
  /* Because the font size used for h1 was becoming too large at this width it was needed to make it smaller as the width got even smaller. */
  h1 {
    font-size: 26px;
  }
}
